.listsCard {
  list-style: none;
  padding: 0;
}

.listMessage {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 15px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.216);
  text-decoration: none;
  color: rgb(52, 52, 52);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.imgMessage {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  object-fit: cover;
}

.wrapperNameDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapperTime {
  display: flex;
  gap: 30px;
}

.titleName {
  font-weight: 600;
  margin-bottom: 0;
}

.message {
  height: 18px;
  font-size: 0.85em;
  margin-bottom: 0;
  overflow-y: hidden;
  color: rgb(0, 90, 180);
}

.messageDiscon {
  height: 18px;
  font-size: 0.85em;
  margin-bottom: 0;
  overflow-y: hidden;
  color: rgb(102, 102, 102);
}

.time {
  font-size: 0.85em;
  color: rgb(105, 105, 105);
  font-weight: 500;
  margin-bottom: 0;
}

.counter {
  font-size: 0.7em;
  background-color: rgb(0, 90, 180);
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  margin-bottom: 0;
}

.iconRead {
  color: rgb(0, 90, 180);
}
