.listsCard {
  list-style: none;
  padding: 0;
}

.listMessage {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 15px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.216);
  text-decoration: none;
  color: rgb(52, 52, 52);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.imgMessage {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  object-fit: cover;
}

.wrapperNameDate {
  display: flex;
  justify-content: start;
  align-items: center;
}

.titleName {
  font-weight: 600;
  margin-bottom: 0;
}

.wrapperAdd {
  font-size: 0.7em;
  padding: 4px 12px;
  border-radius: 4px;
  border: none;
  background-color: rgba(0, 124, 212, 0.24);
}

.wrapperAdd:hover {
  font-size: 0.7em;
  padding: 4px 12px;
  border-radius: 4px;
  border: none;
  background-color: rgba(0, 96, 165, 0.24);
}

.wrapperName {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
